<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">
	<select id="selectBySQL" parameterType="string" resultType="map">
		<![CDATA[${value}]]>
	</select>
	<update id="updateBySQL" parameterType="string">
    	<![CDATA[${value}]]>
	</update>
	
	<insert id="insertBySQL" parameterType="string">
    	<![CDATA[${value}]]>
	</insert>
	
	<delete id="deleteBySQL" parameterType="string">
    	<![CDATA[${value}]]>
	</delete>
</mapper>
